body {
	color: white;
	background-color: black;
	font-family: serif;
}

#about {
	padding: 1rem;
}

#code {
	border: 1px solid white;
	border-radius: 10px;
	display: block;
	font-family: sans-serif;
	margin: auto;
	width: 90%;
}

#container {
	display: block;
	margin: auto;
	width: 80%;
}

#header h1 {
	display: flex;
	font-size: 10em;
	justify-content: left;
	padding: 2rem;
}

#links a {
	color: white;
	display: flex;
	justify-content: left;
	padding: 1rem;
	text-decoration: none;
	text-transform: lowercase;	
}

.guides p {
	color: white;
	display: block;
	font-size: 1.5em;
	margin: auto;
	text-align: center;
	width: 35em;
}

.guides a {
	color: white;
	text-decoration: none;
}
